block content
    p
    p <strong>Your Access Token </strong>  : #{AccessToken}
    P <strong>Your Access Secret </strong> : #{AccessTokenSecret}

    img(src='http://localhost:#{Port}/images/success.jpg' alt="Smiley face" height="142" width="142")

